<app-header-options [title]="arbol.nombre" [href]="'/proyectos/detalle/' + arbol.proyecto + '/arboles'"></app-header-options>

<ion-content class="formulario-slide">
  
  <ion-slides pager="true" [options]="slideOpts" #mySlider>
    
    <ion-slide *ngIf="arbol">
      <form [formGroup]="form" (ngSubmit)="actualizar()" novalidate>
        <ion-card>
          <ion-card-header>
            <ion-label>Ubicación</ion-label>
          </ion-card-header>

          <ion-card-content>


              <ion-item >
                <ion-label position="floating">Nombre asignado al árbol</ion-label>
                <ion-input type="text" formControlName="nombre" placeholder="Ej: ABCDE1234" ></ion-input>
              </ion-item>

            
            <ion-item >
              <ion-label position="floating">Dirección/Sitio</ion-label>
              <ion-input type="text" formControlName="direccion" ></ion-input>
            </ion-item>
            <ion-item >
              <ion-label position="floating">Barrio</ion-label>
              <ion-input type="text" formControlName="barrio" ></ion-input>
            </ion-item>
            <ion-item >
              <ion-label position="floating">Manzana</ion-label>
              <ion-input type="text" formControlName="manzana" ></ion-input>
            </ion-item>

          </ion-card-content>
        </ion-card>

        <ion-button fill="clear" (click)="mySlider.slideNext()">
          Siguiente
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
       
      </form>
    </ion-slide>
    <ion-slide>
      <form [formGroup]="form" (ngSubmit)="actualizar()" novalidate>
        <ion-card>
          <ion-card-header>
            <ion-label>Ubicación</ion-label>
          </ion-card-header>

          <ion-card-content>

            <ion-item >
              <ion-label position="floating">Latitud </ion-label>
              <ion-icon slot="end" name="locate-outline" (click)="getCoordinates()"></ion-icon>
              <ion-input type="text" formControlName="latitud"></ion-input>
            </ion-item>

            <ion-item >
              <ion-label position="floating">Longitud</ion-label>
              <ion-input type="text" formControlName="longitud"></ion-input>
            </ion-item>

            <ion-item >
              <ion-label>Faltante</ion-label>
              <ion-toggle type="text" formControlName="faltante"></ion-toggle>
            </ion-item>
            <ion-item >
              <ion-label>Muerto</ion-label>
              <ion-toggle type="text" formControlName="muerto"></ion-toggle>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <ion-button fill="clear" (click)="mySlider.slidePrev()">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          Anterior
        </ion-button>
        <ion-button *ngIf="!form.controls.muerto.value && !form.controls.faltante.value" fill="clear" (click)="mySlider.slideNext()">
          Siguiente
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
       
        <ion-button *ngIf="form.controls.muerto.value || form.controls.faltante.value" expand="block" (click)="reset()" [disabled]="form.invalid">
          Enviar
        </ion-button>
      </form>
    </ion-slide>

    <ion-slide>
      <form [formGroup]="form" (ngSubmit)="actualizar()">
        <ion-card>
          <ion-card-header>
            <ion-label>Características</ion-label>
          </ion-card-header>
          <ion-card-content>

            <ion-item >
              <ion-label position="floating">Especie</ion-label>
              <ion-input type="text" formControlName="especie"></ion-input>
            </ion-item>
            <ion-item >
              <ion-label position="floating">Perimetro</ion-label>
              <ion-input type="text" formControlName="perimetro"></ion-input>
            </ion-item>
            <ion-item >
              <ion-label position="floating">Altura</ion-label>
              <ion-icon slot="end" name="contract-outline"></ion-icon>
              <ion-input type="text" formControlName="altura"></ion-input>
            </ion-item>
            <ion-item >
              <ion-label position="floating">Inlinación de tronco</ion-label>
              <ion-icon slot="end" name="contract-outline"></ion-icon>
              <ion-input type="text" formControlName="inclinacion"></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>

        <ion-button fill="clear" (click)="mySlider.slidePrev()">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          Anterior
        </ion-button>
        <ion-button fill="clear" (click)="mySlider.slideNext()">
          Siguiente
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>

      </form>
    </ion-slide>

    <ion-slide>
      <form [formGroup]="form" (ngSubmit)="actualizar()">
        <ion-card>
          <ion-card-header>
            <ion-label>Características</ion-label>
          </ion-card-header>
          <ion-card-content>
            <ion-item >
              <ion-label position="floating">Forma</ion-label>
              <ion-input type="text" formControlName="forma"></ion-input>
            </ion-item>
            <ion-item >
              <ion-label position="floating">Valor de árbol</ion-label>
              <ion-input type="text" formControlName="valorDeArbol"></ion-input>
            </ion-item>
            <ion-item >
              <ion-label position="floating">Enfermedades</ion-label>
              <ion-input type="text" formControlName="enfermedades"></ion-input>
            </ion-item>
            <ion-item >
              <ion-label position="floating">Plagas</ion-label>
              <ion-input type="text" formControlName="plagas"></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>

        <ion-button fill="clear" (click)="mySlider.slidePrev()">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          Anterior
        </ion-button>
        <ion-button fill="clear" (click)="mySlider.slideNext()">
          Siguiente
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
        
      </form>
    </ion-slide>

    <ion-slide>
      <form [formGroup]="form" (ngSubmit)="actualizar()">
        <ion-card>
          <ion-card-header>
            <ion-label>Factores de carga</ion-label>
          </ion-card-header>
          <ion-card-content>
            <ion-item >
              <ion-label>Exposición al viento dominante</ion-label>
              <ion-toggle type="text" formControlName="exposicionAlVientoDominante"></ion-toggle>
            </ion-item>
            <ion-item >
              <ion-label position="floating">Vigor</ion-label>
              <ion-input type="text" formControlName="vigor"></ion-input>
            </ion-item>
            <ion-item >
              <ion-label position="floating">Densidad de Copa</ion-label>
              <ion-input type="text" formControlName="densidadDeCopa"></ion-input>
            </ion-item>
            <ion-item >
              <ion-label position="floating">Espacio de crecimiento</ion-label>
              <ion-input type="text" formControlName="espacioDeCrecimiento"></ion-input>
            </ion-item>
            <ion-item >
              <ion-label>¿Plato radicular levantado o raíces expuestas?</ion-label>
              <ion-toggle type="text" formControlName="platoRadicularORaicesExpuestas"></ion-toggle>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <ion-button fill="clear" (click)="mySlider.slidePrev()">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          Anterior
        </ion-button>
        <ion-button fill="clear" (click)="mySlider.slideNext()">
          Siguiente
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
        
      </form>
    </ion-slide>

    <!-- blanco bajo el arbol -->
    <ion-slide>
      <form [formGroup]="form" (ngSubmit)="actualizar()">
        <ion-card>
          <ion-card-header>
            <ion-label>Blanco bajo el árbol</ion-label>
          </ion-card-header>
          <ion-card-content>
            <ion-item >
              <ion-label>Uso bajo el árbol</ion-label>
              <ion-toggle type="text" formControlName="usoBajoElArbol"></ion-toggle>
            </ion-item>
            <ion-item >
              <ion-label position="floating">Tasa de uso</ion-label>
              <ion-input type="text" formControlName="tasaDeUso"></ion-input>
            </ion-item>
            <ion-item >
              <ion-label>¿Puede moverse el blanco?</ion-label>
              <ion-toggle type="text" formControlName="movilidadDeBlanco"></ion-toggle>
            </ion-item>
            <ion-item >
              <ion-label>¿Puede restringirse el uso?</ion-label>
              <ion-toggle type="text" formControlName="restriccionDeUso"></ion-toggle>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <ion-button fill="clear" (click)="mySlider.slidePrev()">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          Anterior
        </ion-button>
        <ion-button fill="clear" (click)="mySlider.slideNext()">
          Siguiente
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
        
      </form>
    </ion-slide>

    <!-- Defecto en raices -->
    <ion-slide>
      <form [formGroup]="form" (ngSubmit)="actualizar()">
        <ion-card>
          <ion-card-header>
            <ion-label>Defectos en las raíces</ion-label>
          </ion-card-header>
          <ion-card-content>
            <ion-item >
              <ion-label>Cuerpos fructíferos de hongos en cuello?</ion-label>
              <ion-toggle  formControlName="raicesCuerposFructiferos"></ion-toggle>
            </ion-item>
            <ion-item >
              <ion-label>Daño menánico a raíces?</ion-label>
              <ion-toggle formControlName="raicesDanoMecanico"></ion-toggle>
            </ion-item>
            <ion-item >
              <ion-label>Raices estrangulantes</ion-label>
              <ion-toggle formControlName="raicesEstrangulantes"></ion-toggle>
            </ion-item>
            <ion-item >
              <ion-label>Defectos en reaíces</ion-label>
              <ion-toggle formControlName="defectosEnRaices"></ion-toggle>
            </ion-item>
          </ion-card-content>
        </ion-card>

        <ion-button fill="clear" (click)="mySlider.slidePrev()">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          Anterior
        </ion-button>
        <ion-button fill="clear" (click)="mySlider.slideNext()">
          Siguiente
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
        
      </form>
    </ion-slide>

    <!-- Defecto en tronco -->
    <ion-slide>
      <form [formGroup]="form" (ngSubmit)="actualizar()">
        <ion-card>
          <ion-card-header>
            <ion-label>Defectos en tronco y cuello</ion-label>
          </ion-card-header>
          <ion-card-content>

            <ion-item >
              <ion-label>Cancros</ion-label>
              <ion-select formControlName="troncoCancros">
                <ion-list>
                  <ion-select-option value="SIN_CANCROS">Sin cancros</ion-select-option>
                  <ion-select-option value="AFECTA_LESS_25">Afecta < 25% </ion-select-option>
                  <ion-select-option value="AFECTA_25_50">Afecta 25%-50% </ion-select-option>
                  <ion-select-option value="AFECTA_MORE_50">Afecta > 50% </ion-select-option>
                </ion-list>
              </ion-select>
              <ion-input placeholder="LX- cancros" formControlName="lxCancroTronco"></ion-input>
            </ion-item>

            <ion-item >
              <ion-label>Cavidades</ion-label>
              <ion-select formControlName="troncoCavidades">
                <ion-list>
                  <ion-select-option value="SIN_CAVIDADES">Sin cavidades</ion-select-option>
                  <ion-select-option value="AFECTA_LESS_25">Afecta < 25% </ion-select-option>
                  <ion-select-option value="AFECTA_25_50">Afecta 25%-50% </ion-select-option>
                  <ion-select-option value="AFECTA_MORE_50">Afecta > 50% </ion-select-option>
                </ion-list>
              </ion-select>
              <ion-input placeholder="T espesor (cm)" formControlName="tEspesorDeParedTronco"></ion-input>
            </ion-item>

            <ion-item >
              <ion-label position="floating">Coeficiente de esbeltez</ion-label>
              <ion-input placeholder="T espesor (cm)" formControlName="coeficienteDeEsbeltez"></ion-input>
            </ion-item>

            <ion-item >
              <ion-label position="floating">Fustes múltiples</ion-label>
              <ion-select formControlName="coeficienteDeEsbeltez">
                <ion-list>
                  <ion-select-option value="NO">No</ion-select-option>
                  <ion-select-option value="SI">Si</ion-select-option>
                  <ion-select-option value="SI_CON_CORTEZA">Si - con corteza</ion-select-option>
                  <ion-select-option value="SI_CON_CAVIDADES_RAJADURAS_PUDRICION">
                    Si - con cavidades, rajaduras, pudrición
                  </ion-select-option>
                </ion-list>
              </ion-select>
            </ion-item>

            <ion-item >
              <ion-label>Horquetas</ion-label>
              <ion-toggle formControlName="troncoHorquetas"></ion-toggle>
            </ion-item>

            <ion-item >
              <ion-label position="floating">Inclinación</ion-label>
              <ion-input placeholder="(º grados)" formControlName="troncoInclinacion"></ion-input>
            </ion-item>

          </ion-card-content>
        </ion-card>

        <ion-button fill="clear" (click)="mySlider.slidePrev()">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          Anterior
        </ion-button>
        <ion-button fill="clear" (click)="mySlider.slideNext()">
          Siguiente
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
        
      </form>
    </ion-slide>

    <ion-slide>
      <form [formGroup]="form" (ngSubmit)="actualizar()">
        <ion-card>
          <ion-card-header>
            <ion-label>Defectos en tronco y cuello</ion-label>
          </ion-card-header>
          <ion-card-content>
            <ion-item >
              <ion-label position="floating">Heridas</ion-label>
              <ion-select formControlName="troncoHeridas">
                <ion-list>
                  <ion-select-option value="SIN_HERIDAS">Sin heridas</ion-select-option>
                  <ion-select-option value="HERIDAS_SELLADAS">Con heridas selladas</ion-select-option>
                  <ion-select-option value="HERIDA_SUPERFICIAL">Herida superficial</ion-select-option>
                  <ion-select-option value="HERIDA_LESS_50">Afecta < 50% </ion-select-option>
                  <ion-select-option value="HERIDA_MORE_50">Afecta > 50% </ion-select-option>
                </ion-list>
              </ion-select>
            </ion-item>
            <ion-item >
              <ion-label position="floating">Inclinación</ion-label>
              <ion-select formControlName="troncoInclinacion">
                <ion-list>
                  <ion-select-option value="SIN_INCLINACION"> < 10º </ion-select-option>
                  <ion-select-option value="INCLINACION_LEVE"> 10º - 20º</ion-select-option>
                  <ion-select-option value="INCLINACION_SIGNIFICATIVA"> 20º - 30º </ion-select-option>
                  <ion-select-option value="INCLINACION_SEVERA"> > 30º </ion-select-option>
                </ion-list>
              </ion-select>
            </ion-item>

            <ion-item >
              <ion-label position="floating">Orificios de taladros de madera o corteza</ion-label>
              <ion-select formControlName="troncoOrificios">
                <ion-list>
                  <ion-select-option value="SIN_LESIONES"> Sin lesiones </ion-select-option>
                  <ion-select-option value="CON_LESIONES_LESS_25"> < 25% </ion-select-option>
                  <ion-select-option value="CON_LESIONES_25_50"> 25% ~ 50% </ion-select-option>
                  <ion-select-option value="CON_LESIONES_MORE_50"> > 50% </ion-select-option>
                </ion-list>
              </ion-select>
            </ion-item>

            <ion-item >
              <ion-label position="floating">Pudrición de madera</ion-label>
              <ion-select formControlName="troncoPudricionDeMadera">
                <ion-list>
                  <ion-select-option value="CON_CUERPOS_FRUCTIFEROS"> Presencia de cuerpos fructíferos </ion-select-option>
                  <ion-select-option value="CON_PUDRICION_T_R_MORE_15"> t/R>15 columna de pudrición cerrada </ion-select-option>
                  <ion-select-option value="CON_PUDRICION_T_R_MORE_20"> t/R>20 pudrición en herida abierta </ion-select-option>
                  <ion-select-option value="CON_PUDRICION_T_R_MORE_30"> t/R>30 y esbeltez > 60 </ion-select-option>
                  <ion-select-option value="CON_PUDRICION_SIN_T"> No se midió T </ion-select-option>
                  <ion-select-option value="SIN_PUDRICION"> Sin pudrición </ion-select-option>
                </ion-list>
              </ion-select>
            </ion-item>

            <ion-item >
              <ion-label position="floating">Rajaduras</ion-label>
              <ion-select formControlName="troncoRajaduras">
                <ion-list>
                  <ion-select-option value="CON_RAJADURA_MOV_4"> Rajadura con Mov 4 </ion-select-option>
                  <ion-select-option value="CON_RAJADURA_CAVIDAD_PUDRICION_3"> Rajadura con cavidad o pudrición 3 </ion-select-option>
                  <ion-select-option value="CON_RAJADURA_SIN_MOV_2"> Rajadura sin Mov 2 </ion-select-option>
                  <ion-select-option value="SIN_RAJADURA"> Sin rajadura </ion-select-option>
                </ion-list>
              </ion-select>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <ion-button fill="clear" (click)="mySlider.slidePrev()">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          Anterior
        </ion-button>
        <ion-button fill="clear" (click)="mySlider.slideNext()">
          Siguiente
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </form>
    </ion-slide>

    <ion-slide>
      <form [formGroup]="form" (ngSubmit)="actualizar()">
        <ion-card>
          <ion-card-header>
            <ion-label>Defectos en ramas estructurales</ion-label>
          </ion-card-header>
          <ion-card-content>

              <ion-item >
                <ion-label>Cancros</ion-label>
                <ion-select formControlName="ramasCancros">
                  <ion-list>
                    <ion-select-option value="SIN_CANCROS">Sin cancros</ion-select-option>
                    <ion-select-option value="AFECTA_LESS_25">Afecta < 25% </ion-select-option>
                        <ion-select-option value="AFECTA_25_50">Afecta 25%-50%
                        </ion-select-option>
                        <ion-select-option value="AFECTA_MORE_50">Afecta > 50%
                        </ion-select-option>
                  </ion-list>
                </ion-select>
                <ion-input placeholder="LX- cancros" formControlName="lxCancroTronco"></ion-input>
              </ion-item>

              <ion-item >
                <ion-label>Cavidades</ion-label>
                <ion-select formControlName="ramasCavidades">
                  <ion-list>
                    <ion-select-option value="SIN_CAVIDADES">Sin cavidades</ion-select-option>
                    <ion-select-option value="AFECTA_LESS_25">Afecta < 25% </ion-select-option>
                    <ion-select-option value="AFECTA_25_50">Afecta 25%-50% </ion-select-option>
                    <ion-select-option value="AFECTA_MORE_50">Afecta > 50% </ion-select-option>
                  </ion-list>
                </ion-select>
              </ion-item>

              <ion-item >
                <ion-label>Ramas colgantes o quebrantes</ion-label>
                <ion-select formControlName="ramasColgantesQuebrantes">
                  <ion-list>
                    <ion-select-option value="SIN_RAMAS_COLGANTES"> Sin ramas colgantes </ion-select-option>
                    <ion-select-option value="LESS_10"> < 10% </ion-select-option>
                    <ion-select-option value="MORE_10"> > 10% </ion-select-option>
                  </ion-list>
                </ion-select>
              </ion-item>

              <ion-item >
                <ion-label>Ramas muertas</ion-label>
                <ion-toggle formControlName="ramasMuertas"></ion-toggle>
              </ion-item>

              <ion-item >
                <ion-label position="floating">Rajaduras</ion-label>
                <ion-input formControlName="ramasRajaduras"></ion-input>
              </ion-item>

              <ion-item >
                <ion-label position="floating">Pudrición de madera</ion-label>
                <ion-input formControlName="ramasPudricionDeMadera"></ion-input>
              </ion-item>

              <ion-item >
                <ion-label position="floating">Interferencia eléctrica </ion-label>
                  <ion-select formControlName="ramasInterferenciaElectrica">
                    <ion-list>
                      <ion-select-option value="SIN_INTERFERENCIA_ELECTRICA"> Sin interferencia </ion-select-option>
                      <ion-select-option value="A_POCA_DISTANCIA"> A 1m de baja Tensión </ion-select-option>
                      <ion-select-option value="CON_INTERFERENCIA_BAJA"> Contacto con baja tensión</ion-select-option>
                      <ion-select-option value="CON_INTERFERENCIA_MEDIA"> Contacto con media tensión </ion-select-option>
                    </ion-list>
                  </ion-select>
              </ion-item>

          </ion-card-content>
        </ion-card>
        <ion-button fill="clear" (click)="mySlider.slidePrev()">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          Anterior
        </ion-button>
        <ion-button expand="block" (click)="reset()" [disabled]="form.invalid">
          Guardar cambios
        </ion-button>        
        <ion-button expand="block" (click)="eliminar()" color="danger" [disabled]="form.invalid">
          Eliminar
        </ion-button>
      </form>
    </ion-slide>

  </ion-slides>
</ion-content>
