<app-header-options [title]="'Detalle de usuario'" [href]="'/usuarios'"></app-header-options>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-label>Datos de usuario</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label slot="end">Editar datos</ion-label>
        <ion-toggle type="text" (ionChange)="handleChange()"></ion-toggle>
      </ion-item>
      <form [formGroup]="form" novalidate>
          <ion-card class="m-auto">
              <ion-card-header>
                <ion-card-title class="p-5 text-3xl text-center">Editar Usuario</ion-card-title>
              </ion-card-header>
              <ion-card-content class="grid grid-rows-3 gap-5 m-auto max-w-lg pl-5 pr-5">
                <ion-item fill="outline">
                  <ion-label position="stacked">Nombre</ion-label>
                  <ion-input type="text" formControlName="name" [disabled]="checkedForm"></ion-input>
                </ion-item>
                <ion-item fill="outline">
                  <ion-label position="stacked">Apellido</ion-label>
                  <ion-input type="text" formControlName="lastname" [disabled]="checkedForm"></ion-input>
                </ion-item>
                <ion-item fill="outline">
                  <ion-label position="stacked">Email</ion-label>
                  <ion-input type="email" formControlName="email" [disabled]="checkedForm"></ion-input>
                </ion-item>
                <ion-item fill="outline">
                  <ion-label position="stacked">Domicilio</ion-label>
                  <ion-input type="text" formControlName="address" [disabled]="checkedForm"></ion-input>
                </ion-item>
                <ion-item fill="outline">
                  <ion-label position="stacked">Localidad</ion-label>
                  <ion-input type="text" formControlName="city" [disabled]="checkedForm"></ion-input>
                </ion-item>
                <ion-item fill="outline">
                  <ion-label position="stacked">Provincia</ion-label>
                  <ion-input type="text" formControlName="state" [disabled]="checkedForm"></ion-input>
                </ion-item>
                <ion-item fill="outline">
                  <ion-label position="stacked">Nombre de usuario</ion-label>
                  <ion-input type="text" formControlName="username" [disabled]="checkedForm"></ion-input>
                </ion-item>
                <ion-item fill="outline">
                  <ion-label position="stacked">Nueva Contraseña</ion-label>
                  <ion-input 
                  type="password" formControlName="password" [disabled]="checkedForm"></ion-input>
                </ion-item>
                <ion-button expand="block" size="medium" [disabled]="checkedForm && !form.dirty" (click)="actualizar()" type="button">Guardar cambios</ion-button>
                <ion-button expand="block" size="medium" [disabled]="(checkedForm)" type="button" (click)="presentAlert()" color="danger">Eliminar usuario</ion-button>
              </ion-card-content>
          </ion-card>
      </form>
      
    </ion-card-content>
    </ion-card>
</ion-content>

<app-footer></app-footer>