<app-header-options [title]="'Información de Proyecto'" [href]="'/proyectos'"></app-header-options>

<ion-content>
  <ion-card >
    <ion-card-header>
      <ion-label>Datos de Proyecto</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label slot="end">Editar datos</ion-label>
        <ion-toggle type="text" (ionChange)="handleChange()"></ion-toggle>
      </ion-item>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Creado: {{date}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>Código de proyecto: {{codigoProyecto}}</p>
        </ion-card-content>
      </ion-card>

      <form [formGroup]="form" novalidate>
          <ion-card class="m-auto">
              <ion-card-header>
                <ion-card-title class="p-5 text-xl text-center">Detalle de proyecto</ion-card-title>
              </ion-card-header>
              <ion-card-content class="grid grid-rows-3 gap-5 m-auto max-w-lg pl-5 pr-5">
                <ion-item fill="outline">
                  <ion-label position="stacked">Nombre</ion-label>
                  <ion-input type="text" formControlName="nombre" [disabled]="checkedForm"></ion-input>
                </ion-item>
                <ion-item fill="outline">
                  <ion-label position="stacked">Localidad</ion-label>
                  <ion-input type="text" formControlName="localidad" [disabled]="checkedForm"></ion-input>
                </ion-item>
                <ion-item fill="outline">
                  <ion-label position="stacked">Provincia</ion-label>
                  <ion-input type="text" formControlName="provincia" [disabled]="checkedForm"></ion-input>
                </ion-item>
                <ion-item fill="outline">
                  <ion-label position="stacked">Tiempo estimado de duración </ion-label>
                  <ion-input type="text" formControlName="tiempoEstimado" [disabled]="checkedForm"></ion-input>
                </ion-item>                
                
                <ion-button expand="block" size="medium" [disabled]="checkedForm" (click)="actualizar()" type="button">Guardar cambios</ion-button>
                <ion-button *ngIf="!checkedForm" expand="block" size="medium" (click)="eliminarProyecto()" type="button" color="danger">Eliminar proyecto</ion-button>
              </ion-card-content>
          </ion-card>
        </form>
      
    </ion-card-content>
    </ion-card>
</ion-content>

<app-footer></app-footer>