<ion-app>

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu de usuario</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-button color="danger" (click)="presentAlert()">Cerrar sesión
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      
    </ion-content>
  </div>
  
  <app-header [title]="'Registro de árboles'" ></app-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <ion-grid>

      <ion-row *ngIf="isAdmin" class="ion-justify-content-center">
        <ion-col size="6">
            <ion-card>
              <a href="/proyectos">
                <ion-card-content>
                  <img class="logo-off" src="../../assets/icon/proyecto100.png">
                      </ion-card-content>
                  </a>
                  </ion-card>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="isAdmin" class="ion-justify-content-center">
        <ion-col size="6">
            <ion-card>
              <a href="/usuarios">
                <ion-card-content>
                  <img class="logo-off" src="../../assets/icon/usuarios100.png">
                      </ion-card-content>
                  </a>
                  </ion-card>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="isAdmin" class="ion-justify-content-center">
        <ion-col size="6">
            <ion-card>
              <a href="/proyectos">
                <ion-card-content>
                  <img class="logo-off" src="../../assets/icon/reportes100.png">
                      </ion-card-content>
                  </a>
                  </ion-card>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
          <ion-col size="6">
              <ion-card>
                        <a href="/arboles">
                        <ion-card-content>
                            <img class="logo-on" src="../../assets/icon/logo100.png">
                        </ion-card-content>
                      </a>
                    </ion-card>
          </ion-col>
        </ion-row>
    
      <ion-row class="ion-justify-content-center">
        <ion-col size="6">
            <ion-card>
                      <a href="/arboles">
                      <ion-card-content>
                          <img class="logo-off" src="../../assets/icon/logo100.png">
                      </ion-card-content>
                  </a>
                  </ion-card>
        </ion-col>
      </ion-row>
   
    </ion-grid>
</ion-content>

<app-footer></app-footer>
</ion-app>