<ion-header>
  <ion-toolbar>
    <ion-title>Detalle de usuario</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/usuarios"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-label>Datos de usuario</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label slot="end">Editar datos</ion-label>
        <ion-toggle type="text" (ionChange)="handleChange()"></ion-toggle>
      </ion-item>
      <form [formGroup]="form" novalidate>
        <div class="bg-gray-300 flex flex-col h-screen">
          <ion-card class="m-auto">
              <ion-card-header>
                <ion-card-title class="p-5 text-3xl text-center">Registrar Nuevo Usuario</ion-card-title>
              </ion-card-header>
              <ion-card-content class="grid grid-rows-3 gap-5 m-auto max-w-lg pl-5 pr-5">
                <ion-item fill="outline">
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input type="text" formControlName="nombre" [disabled]="checkedForm"></ion-input>
                </ion-item>
                <ion-item fill="outline">
                  <ion-label position="floating">Apellido</ion-label>
                  <ion-input type="text" formControlName="apellido" [disabled]="checkedForm"></ion-input>
                </ion-item>
                <ion-item fill="outline">
                  <ion-label position="floating">Documento de identidad</ion-label>
                  <ion-input type="text" formControlName="documento" [disabled]="checkedForm"></ion-input>
                </ion-item>
                <ion-item fill="outline">
                  <ion-label position="floating">Domicilio</ion-label>
                  <ion-input type="text" formControlName="domicilio" placeholder="Ingrese cantidad en horas" [disabled]="checkedForm"></ion-input>
                </ion-item>
                <ion-item fill="outline">
                  <ion-label position="floating">Localidad</ion-label>
                  <ion-input type="text" formControlName="localidad" placeholder="Ingrese cantidad en horas" [disabled]="checkedForm"></ion-input>
                </ion-item>
                <ion-item fill="outline">
                  <ion-label position="floating">Provincia</ion-label>
                  <ion-input type="text" formControlName="provincia" placeholder="Ingrese cantidad en horas" [disabled]="checkedForm"></ion-input>
                </ion-item>
                <ion-item fill="outline">
                  <ion-label position="floating">Nombre de usuario</ion-label>
                  <ion-input type="text" formControlName="nombreUsuario" placeholder="Ingrese cantidad en horas" [disabled]="checkedForm"></ion-input>
                </ion-item>
                <ion-item fill="outline">
                  <ion-label position="floating">Contraseña</ion-label>
                  <ion-input type="password" formControlName="password" placeholder="Ingrese cantidad en horas" [disabled]="checkedForm"></ion-input>
                </ion-item>
                <ion-button expand="block" size="medium" [disabled]="(form.invalid && checkedForm)" (click)="guardar()" type="button">Guardar cambios</ion-button>
              </ion-card-content>
          </ion-card>
        </div>
      </form>
      
    </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Trapp V1.0.0</ion-title>
  </ion-toolbar>
</ion-footer>